.separator {
  background: #fff;
  padding: 0.35rem 1rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .separator__title {
    cursor: pointer;
    display: flex;
    align-items: center;
    h2 {
      margin-left: 0.4rem;
    }
  }
  ul {
    display: flex;
    text-align: center;
    font-size: .6rem;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 .3rem;
      margin-left: 5px;
      border-radius: 5px;
      background-color: #000;
      opacity: 0.9;
      transition: all 0.1s ease-in-out;
      a {
        color: #fff;
        font-weight: 900;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .separator {
    justify-content: center;
    ul {
      li {
        padding: .4rem;
      }
    }
  }
}
