.separator {
  background: #fff;
  padding: 0.35rem 1rem;
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  .separator__title {
    display: flex;
    align-items: center;
    h2 {
      margin-left: 0.4rem;
    }
  }
  ul {
    text-align: center;
    // justify-self: end;
    place-self: center end;
    font-size: .72rem;
    li {
      padding: 0.2rem .5rem;
      border-radius: 5%;
      background-color: #000;
      opacity: 0.9;
      transition: all 0.1s ease-in-out;
      a {
        color: #fff;
        font-weight: 900;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .separator {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: .05rem;
    .separator__title {
      justify-self: center;
    }
    ul {
      justify-self: center;
    }
  }
}
