.competences {
  margin: 2rem 0;

  //  TITLE SECTION
  .section__title {
    background: #fff;
    padding: 0.35rem;
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    ul {
      justify-self: end;
    }
  }

  // GRID SECTION
  .line {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17%, 1fr));
    grid-gap: 20px;
    grid-auto-flow: row dense;
    .box {
      border-radius: 3px;
      background: #fff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06); // justify-self: center;
      padding: .2rem 0;
      display: grid;

      .competence {
        display: grid;
        justify-items: center;
        text-align: center;
        font-size: .8em;
        img {
          width: 50%;
        }
      }
    }
    .v-span {
      grid-template-rows: repeat(2, 1fr);
      grid-row: span 2;
    }
    .h-span {
      grid-template-columns: repeat(2, 1fr);
      grid-column: span 2;
    }
  }

  .line-v2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    .box-contribution {
      display: grid;
      // // grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 10px;
      .contribution {
        font-size: .9rem;
        border-radius: 3px;
        padding: 7px;
        background: #fff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
        display: grid;
        align-content: space-between;
        grid-template-columns: 1fr 8fr;
        img {
          place-self: center;
        }
        a {
          align-self: center;
        }
      }
    }

    // .box-contribution {
    //   border: 1px solid red;
    //   border-radius: 3px;
    //   background: #fff;
    //   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06); // justify-self: center;
    //   // padding: .2rem 0;
    //   // display: grid;
    //   // grid-template-columns: 1fr 4fr;
    //   // justify-items: center;
    // }
  }
}

@media screen and (max-width: 600px) {
  .competences {
    .line {
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
      .h-span {
        grid-row: span 2;
        grid-template-rows: 1f 1fr;
        grid-template-columns: auto;
        grid-column: span 1;
      }
    }
  }
}
