.realisations {
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    grid-auto-flow: row dense;
    counter-reset: project;
    .project {
      counter-increment: project;
      cursor: pointer;
      .project__image {
        width: 100%;
        height: auto;
      }
      .project__body {
        display: none;
      }
      .project__title::after {
        content: counter(project);
      }
    }
  }
}

@media screen and (min-width: 840px) {
  .realisations {
    .projects {
      grid-template-columns: repeat(3, 1fr);
      .project__body {
        grid-column: span 3;
      }
    }
  }
}

@media screen and (min-width: 540px) and (max-width: 840px) {
  .realisations {
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
